# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# ignore properties files - with password etc!
*.properties

# IDE files
.idea

# but allow gradle
!gradle
